.completed {
  height: 100vh;
  .content {
    height: 100vh;
    h1 {
      font-weight: 600;
      font-size: 46px;
      color: rgb(58, 58, 58);
    }
    p {
      font-size: 14px;
    }
    .contact {
      font-size: 14px;
      font-weight: 600;
      color: rgb(187, 152, 38);
      text-decoration: none;
    }
  }
  .tohomepage {
    background: rgba(207, 171, 49, 0.9);
    border-radius: 50px;
    width: 200px;
    height: 52px;
    text-decoration: none !important;

    p {
      font-weight: 700;
      font-size: 12px;
      color: #ffffff;
      text-decoration: none !important;
    }
  }
  .process {
    position: absolute;
    bottom: 20px;
    .number {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #d9d9d9;
      background-size: cover;

      p {
        font-size: 12px;
      }
    }
    .processname {
      font-size: 12px;
    }
  }
}
