.product {
  font-family: "Yaldevi";

  .header {
    top: 28px !important;
    .nav-link{
      font-size:13px !important;
    }
  }
  .path-cart {
    margin-top: 80px;
    .path {
      font-weight: 500;
      font-size: 12px;
      line-height: 13px;
      color: rgb(0, 0, 0);
    }
  }
  .categories {
    .title {
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
    }
    .category {
      cursor: pointer;
      display: block;
      padding: 0;
      outline: none;
      border: none;
      background-color: transparent;
      font-size:12px;
      font-weight: 500;
      &:hover{
        font-size: 13px;
        transition-duration: 0.3s;
      }
    }
  }
  .products{
    max-height: 1200px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }
  }
}
