.cart-icon{
    position: relative;
    .icon{
        width: 36px;
        height: 36px;
    }
    .quantity{
        display: inline;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: black;
        color: white;
        border-radius: 50%;
        padding: 2px;
        font-size: 11px;
        width: 16px;
        height: 16px;
    }
}