.cart-icon {
  position: relative;
  .icon {
    width: 32px;
    height: 32px;
  }
  .quantity {
    display: inline;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 2px;
    width: 16px;
    height: 16px;
    p {
      font-size: 11px;
    }
  }
}
