.refTab {
  width: 54px;
  background: linear-gradient(
    180deg,
    rgba(115, 94, 23, 0.8) 0%,
    rgba(11, 11, 11, 0.4) 100%
  );
  border-radius: 15px 10px 10px 15px;
  position: fixed;
  right: 0;
  top:100px;
  z-index: 1;
  .icon{
    width: 36px;
    height: 36px;
    &:hover{
        transition-duration: 0.2s;
        transform: scale(1.2);
    }
  }
  li:not(:last-child){
    margin-bottom: 12px;
  }
}
