.sort-product {
  width: 240px;
  .default {
    border-bottom: 1px solid black;
    .downicon {
      width: 16px;
      height: 16px;
      transition-duration: 0.3s;
      &-show {
        transform: rotate(-90deg);
        transition-duration: 0.3s;
      }
    }
    cursor: pointer;
    padding-left: 10px;
  }
  .dropdown {
    position: absolute;
    z-index: 2;
    width: 240px;
    background-color: white;
    padding-left: 10px;
    transition-duration: 0.5s;
    div {
      cursor: pointer;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom: 0.5px solid black;
      }
    }

    p {
      font-size: 12px;
    }
  }
}
