.about-us {
    margin-top: 80px;
  .title {
    font-family: "Yaldevi";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 95px;
    /* identical to box height */

    color: #0a0a12;
  }
  a{
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    
    color: #000000;
 }
}
