.footer{
    background-color: #0a0a12;
    color:white;
    padding-bottom: 24px;
    .icon{
       width: 24px;
    }
    .about{
       font-weight: 600;
       font-size: 16px;
       line-height: 19px;
       margin-top: 38px;
    }
    .about-link-item{
       font-weight: 400;
       font-size: 12px;
       line-height: 15px;
 
       color: #FFFFFF;
       display: block;   
    }
    .a{
       margin-top: 66px;
    }
    .copyright{
       margin-top: 52px;
       padding-left: 12px;
    }
 }