.header {
  
  li.nav-item:not(:last-child) {
    margin-right: 72px;
  }
  .contact {
    width: 120px;
    height: 36px;
    background: #d9d9d9;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    &:hover {
      animation: tada; /* referring directly to the animation's @keyframe declaration */
      animation-duration: 0.8s; /* don't forget to set a duration! */
    }
  }
  .nav-link {
    font-weight: 500;
    font-size: 14px;
    color: black;
  }
  z-index: 1;
}
.navbar {
  padding-bottom: 0;
}
