@mixin button-explore($width, $height, $color, $colortext, $fontsize) {
  width: $width;
  height: $height;
  background-color: $color;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    color: $colortext;
    font-size: $fontsize;
    font-weight: 600;
    line-height: 23px;
    padding: 0;
    margin: 0;
  }
}
.reason-choose {
  margin-top: 145px;
  padding-left: 32px;
  height: 200;
  .title {
    padding: 0 32 0 0;
    margin: 0;
    font-weight: 600;
    font-size: 72px;
    line-height: 95px;

    color: #0a0a12;
  }
  .hr {
    width: 100%;
    height: 3px;
    background-color: #0a0a12;
  }
  .content {
    margin-top: 38px;
    .reason1 {
      background-repeat: no-repeat;
      background-size: auto;
 
      width: 319px;
      height: 934px;
      margin: 0;
      padding: 0;
      &-title {
        color: white;
        margin-top: 64px;   
      }
      &-description {
        margin-top: 60px;
        color: white;
      }
      .button-explore {
        margin-top: 489px;
        @include button-explore(120px, 38px, white, black, 14px);
        margin-bottom: 78px;
      }
    }

    .reason2 {
      background-repeat: no-repeat;
      background-size: auto;

      width: 932px;
      height: 312px;
      margin: 0;
      padding: 0;

      .button-explore {
        @include button-explore(120px, 38px, black, white, 14px);
      }
    }

    .reason3 {
      background-repeat: no-repeat;
      width: 600px;
      height: 606px;
      a{
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        
        color: #000000;
     }
    }
    .reason4 {
      background-repeat: no-repeat;
      width: 312px;
      height: 932px;
      margin-left: 1vw;
      &-title {
        color: white;
        margin-top: 64px;
      }
      &-description {
        margin-top: 60px;
        color: white;
      }
      .button-explore {
        @include button-explore(120px, 38px, white, black, 14px);
        margin-top: 500px;
      }
    }
    .reason5 {
      background-repeat: no-repeat;
      width: 932px;
      height: 312px;

      position: absolute;
      margin-top: 1vh;
      margin-left: 1vh;
      .button-explore {
        @include button-explore(120px, 38px, black, white, 14px);
      }
    }
  }
}
.content-title {
  font-family: "Yaldevi";
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
.content-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
