.slidesection1 {
  .slideshow1 {
    padding-top: 110px;
    background: linear-gradient(
        117.66deg,
        rgba(0, 0, 0, 0) 70.76%,
        rgba(88, 88, 88, 0.072) 82.29%
      ),
      linear-gradient(
        298.21deg,
        rgba(14, 14, 15, 0.92) 59.26%,
        rgba(14, 14, 15, 0.89) 81.12%,
        rgba(14, 14, 15, 0.95) 97.18%
      );
    .content {
      margin-top: 40px;
      padding-bottom: 44px;
      color: #fff;
      .slogan {
        font-weight: 400;
        font-size: 90px;
        line-height: 105px;
      }
      .description {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;

        color: rgba(255, 255, 255, 0.51);
      }
      .text {
        font-weight: 500;
        font-size: 26px;
        line-height: 23px;
      }
    }
  }
  .slideshow2 {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .img1 {
      height: 300px;
    }
    .img2 {
      width: 23%;
    }
  }

  .carousel-control-prev {
    top: 50px;
  }
  .carousel-control-next {
    top: 50px;
  }
}
