.image-wrapper {
	width: 60vh;
	border-radius: 6px;
	background-color: transparent;
	display: flex;
	align-items: center;
	text-align: center;
	line-height: 1.6;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
	img {
		height: auto;
		max-width: 100%;
	}
}

.shine {
	position: relative;
	overflow: hidden;

	&::before {
		background: linear-gradient(
			to right,
			fade_out(#fff, 1) 0%,
			fade_out(#fff, 0.7) 100%
		);
		content: "";
		display: block;
		height: 100%;
		left: -75%;
		position: absolute;
		top: 0;
		transform: skewX(-25deg);
		width: 50%;
		z-index: 2;
	}

	&:hover,
	&:focus {
		&::before {
			animation: shine 0.85s;
		}
	}

	@keyframes shine {
		100% {
			left: 125%;
		}
	}
}


